<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Community Solid Server configuration tool</title>
</head>

<body>
  <div class="container-lg">
    <div class="row">
      <div class="col">
        <h1>Community Solid Server configuration generator</h1>
        <p>
          This tool can be used to generate configurations for the
          <a href="https://github.com/CommunitySolidServer/CommunitySolidServer">Community Solid Server</a>.
          More information about the configurations can be found in the
          <a href="https://github.com/CommunitySolidServer/CommunitySolidServer/tree/main/config">CSS
            <code>config</code>
            folder</a>
          and in the relevant
          <a href="https://github.com/CommunitySolidServer/tutorials/">tutorials</a>.
          There is a tutorial specifically about
          <a href="https://github.com/CommunitySolidServer/tutorials/blob/main/custom-configurations.md">customizing
            configurations</a>
          if you want to customize your configuration even more afterwards.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="settings"></div>

        <p>
          Select the options you want from your server. The corresponding configuration can be found at the bottom.
          This configuration can then be used to start the server using the <code>-c my-config.json</code> CLI
          parameter.
        </p>
        
        <form id="form">
          <div class="accordion" id="accordionChoices">
            <% for (const choice of choices) {%>
              <div class="accordion-item" id="<%= choice.name %>">

                <h2 class="accordion-header" id="<%= choice.name %>-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#<%= choice.name %>-collapse" aria-controls="#<%= choice.name %>-collapse" aria-labelledby="#<%= choice.name %>-header">
                    <%- choice.title %>
                  </button>
                </h2>
                <div id="<%= choice.name %>-collapse" class="accordion-collapse collapse"
                  data-bs-parent="#accordionChoices">
                  <div class="accordion-body">
                    <p><%- choice.description %></p>
                    <fieldset>
                      <% for (const { value, label } of choice.options) { %>
                        <label id="<%= `${choice.name}:${value}` %>">
                          <input type="radio" name="<%= choice.name %>" value="<%- value %>" <% if
                            (choice.default===value) { %>
                          checked<% } %>>
                            <%- label %>
                        </label>
                        <% } %>
                    </fieldset>
                  </div>
                </div>


              </div>
              <% } %>
          </div>
        </form>
      </div>
      <div class="col-4">

        <div class="config">
          <pre id="text"></pre>
        </div>
      </div>
    </div>
  </div>
  <script src="./bundle.js"></script>
</body>

</html>
